/* styles.css */

/* General styles for the dashboard */
.dashboard-cls {
  padding: 20px;
  margin-left: 0px;
}

/* Styles for the card container */
.card-container-cls {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}

/* Styles for the individual card */
.card-cls {
  border: 1px solid rgba(255, 2, 2, 0.914);
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(255, 2, 2, 0.914);
  color: whitesmoke;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  display: flex;
  flex-direction: column;
  width: 200px; /* Set a fixed width for all cards */
  height: 150px;
  
}




/* Hover effect for the card */
.card-cls:hover {
  background-color: rgba(255, 13, 0, 0.442);
  transform: translateY(-5px);
}

/* Styles for the card image */
img {
  max-width: 100%;
  height: 50px;
  text-align: center;
}

/* Styles for the card content */
.card-content {
  text-align: center;
  padding: 10px;
  flex: 1; /* Allow content to take remaining space in the card */
}

/* Styles for the chart container */
.chart-container {
  display: grid;
  color: rgb(249, 243, 243);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid layout */
  gap: 20px; /* Gap between grid items */
  justify-content: center; /* Center items horizontally */
}

/* Styles for the chart wrapper */
.chart-wrapper {
  background-color: #ff0e0ecb;
  border-radius: 8px;
  margin: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 100%; /* Ensure charts take full width of the grid item */
  overflow: hidden; /* Hide overflowing content */
}

/* Styles for the chart title */
.chart-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333; /* Title color */
  text-align: center; /* Center align the title */
}

/* Styles for the chart */
.chart {
  width: 100%;
  height: 300px; /* Set height for the chart */
}
