/* styles.css */
.dashboard-cls {
  padding: 20px;
}

.card-container-cls {
  display: flex;
  gap: 20px;
}

.card-cls {
  border: 1px solid rgba(255, 2, 2, 0.914);
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(255, 2, 2, 0.914);
  color: whitesmoke;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
 
  display: flex;
  flex-direction: column;
  width: 200px; /* Set a fixed width for all cards */
    height: 150px;
}

.card-cls:hover {
  background-color:  rgba(255, 13, 0, 0.442);
  transform: translateY(-5px);
}

img {
  max-width: 100%;
  height: 50px;
  text-align: center;
}

.card-content {
  text-align: center;
  padding: 10px;
  flex: 1; /* Allow content to take remaining space in the card */
}
